@model Data.Entities.TravelEntity

<h2>Detale wycieczki o ID: @Model.Id</h2>

<div class="details-container">
    <dl class="dl-horizontal">
        <dt>Nazwa:</dt>
        <dd>@Model.Name</dd>

        <dt>Data rozpoczęcia:</dt>
        <dd>@Model.StartDate.Value.ToString("yyyy-MM-dd")</dd>

        <dt>Data zakończenia:</dt>
        <dd>@Model.EndDate.Value.ToString("yyyy-MM-dd")</dd>

        <dt>Miejsce rozpoczęcia:</dt>
        <dd>@Model.StartPlace</dd>

        <dt>Miejsce zakończenia:</dt>
        <dd>@Model.EndPlace</dd>

        <dt>Uczestnicy:</dt>
        <dd>@Model.Participants</dd>

        <dt>Przewodnik:</dt>
        <dd>@Model.Guide.Name</dd>

        <dt>Data utworzenia:</dt>
        <dd>@Model.Created.ToString("MMMM dd, yyyy HH:mm:ss")</dd>
    </dl>
</div>

<div class="back-link">
    <a asp-controller="Travel" asp-action="Index" class="btn btn-primary">Powrót do listy wycieczek</a>
</div>