@using Projekt_ASP_NET.Enums
@model Task<List<Data.Entities.TravelEntity>>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container tabela">
<h2>Lista Wycieczek</h2>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Data rozpoczęcia
        </th>
        <th>
            Data zakończenia
        </th>
        <th>
            Miejsce rozpoczęcia
        </th>
        <th>
            Opiekun
        </th>
        <th>
            Akcje
        </th>
    </tr>
    @foreach (var item in @Model.Result)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.StartDate.Value.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.EndDate.Value.ToString("yyyy-MM-dd")
            </td>
            <td>
                @item.StartPlace
            </td>
            <td>
                @item.Guide.Name
            </td>
            <td>
                <a class="btn btn-primary btn-details"
                   asp-action="Details"
                   asp-controller="Travel"
                   asp-route-id=@item.Id>Szczegóły</a>
                <a class="btn btn-success btn-update"
                   asp-action="Update"
                   asp-controller="Travel"
                   asp-route-id=@item.Id>Edytuj</a>
                <a class="btn btn-danger btn-delete"
                   asp-action="Delete"
                   asp-controller="Travel"
                   asp-route-id=@item.Id>Usuń</a>
            </td>
        </tr>
    }
</table>
</div>