@using Projekt_ASP_NET.Enums 
@model Task<List<Data.Entities.GuideEntity>>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container tabela">
<h2>Lista kontaktów</h2>
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Pesel
        </th>
        <th>
            Adres
        </th>
        
        <th>
            Akcje
        </th>
    </tr>
    @foreach (var item in @Model.Result)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Pesel
            </td>
            <td>
                @item.Address.City @item.Address.Street
            </td>
           
            <td>
                <a class="btn btn-primary btn-details"
                   asp-action="Details"
                   asp-controller="Guide"
                   asp-route-id=@item.Id>Szczegóły</a>
                <a class="btn btn-success btn-update"
                   asp-action="Update"
                   asp-controller="Guide"
                   asp-route-id=@item.Id>Edytuj</a>
                <a class="btn btn-danger btn-delete"
                   asp-action="Delete"
                   asp-controller="Guide"
                   asp-route-id=@item.Id>Usuń</a>
            </td>
        </tr>
    }
</table>
</div>